html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0px;
}

.webgl {
  width: 100%;
  height: 100%;
}

.load-screen {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  position: fixed;

  font-family: sans-serif;

  justify-content: center;
  align-items: center;
}

.animation-helper {
  position: fixed;
  top: 0;
  left: 0;
  width: 512px;
  height: 512px;
  background-color: rgb(50, 50, 50);
}